<!-- <div class="navbar">
    <ul>
        <li><a class="active" [routerLink]="'/register'">Register</a></li>
        <li><a [routerLink]="'/login'">Login</a></li>
        <li><a href="#">Logout</a></li>
        <li><a [routerLink]="'/product'">SHOP</a></li>
    </ul>
</div>
-->  
<!-- <div class="work">
    <router-outlet></router-outlet>
</div>  -->
<nav class="navbar navbar-expand-lg  navbar-dark bg-primary">
    <ul id="left-content"  class="nav navbar-nav">
        <li  id="left-content-reg"  class="nav-item"><a class="nav-link active" [routerLink]="'/register'"><i class="fas fa-user-plus"></i>Register</a></li>
        <li  id="left-content-log"  class="nav-item"><a class="nav-link active" [routerLink]="'/login'"><i class="fas fa-sign-in-alt"></i>Login</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right ml-auto">
        <li class="nav-item"><a class="nav-link active" [routerLink]="'/login'" (click)="logOut()" ><i class="fas fa-sign-out-alt"></i>Logout</a></li>
    </ul>
</nav>
<!-- <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">FINANCE</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a class="nav-link" [routerLink]="'/register'">Register</a></li>
        <li><a href="#">Page 1</a></li>
        <li><a href="#">Page 2</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </nav> -->
  

     