/* body {
  margin: 10px;
}

div.header {
  background-color: #e4e2e2;
  padding: 20px;
  text-align: center;
}

table,div.row {
  border-collapse: collapse;
  border: 1px solid black;
  table-layout: auto;
  width: 100%;
  padding: 20px;
  margin-top: 15px;
} 

th {
  background-color: #6d6b6b;
  color: white;
}

th,td {
  border: 1px solid black;
}

td {
  text-align: center;
}

tr:nth-child(odd) {background-color: #e7e4e4;}
tr:hover {background-color: #ddd;}


.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #6d6b6b;
  border: none;
  color: white; 
  text-align: center;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
} */
/* th,td {
  font-weight: bolder;
  padding: 10px;
  border: none;
  text-align: left;
}
tr:hover {background-color: #ddd;} 
.col-sm-12{
  border: 1px solid #ccc;
  background-color:black;
  height: 100vh;
  position: fixed;
}
.btn{
  color: black;
  margin-top: 20px;
} */
/*.col-sm-10{
    
  }*/
  .nav-link{
    font-weight: bolder;
  }
  .nav{
    margin-left: 15px;
  }
  td{
    font-weight:500;
    
  }
  th{
    font-weight: bolder;
   
  }
  