<div>
<h2>EMI CARD TERMS</h2>
<p>1) EMI Card is neither a credit card nor a stored value card, etc. and is used only for authentication of Customer’s identity while providing the Loan.</p>
<p>2) We may at any time, at its sole discretion and without assigning any reason, decide to withdraw the EMI Card service and/ or terminate any specific EMI Card and will have no liability to the EMI Card-holder or any other person in this regard.</p>
<p>3) We are not an issuer/provider of the products purchased/services availed by the Customer through the EMI Card. Accordingly, We shall not be responsible for the quality or any assurances and/or representations made in relation to such products/services provided by third parties. BFL shall not be liable for any delay in delivery or no-delivery of product and/or with respect to the quantity, quality, conditions, fitness, suitability or otherwise whatsoever of the product.</p>
<p>4) Terms used but not defined herein shall have the meaning ascribed to them in the Master Terms</p>
<br>
<br>
<h1>EMI CARD USAGE</h1>
<p>1) In the event of an unauthorized access to or use of an EMI Network Card, the cardholder shall immediately contact us at email at guptasubhajit272@gmail.com  to block your EMI Network Card.</p>
<p>2) The usage of the EMI Card is subject to the terms and conditions mentioned in this application </p>
<p>3) The usage of the EMI Card would be construed as the deemed acceptance of the Master Terms applicable to the EMI Card.</p>
<p>4) EMI Card shall not be used for any unlawful / unauthorized purpose.</p>
<p>5) Notwithstanding payment of Installment Fee by the Customer, the EMI Card cannot be used for purchase on eCommerce platforms and would be fined as per the group terms </p>
</div>

