/* /*#n1{
    position:absolute;
    margin:auto;
    width:300px;
    height:500px;
    
}

#n2:hover{
    background-color: #45a049;
}

#n2{
    background-color: #4CAF50;
  color: white;
  cursor: pointer;
}
*/

 input.ng-touched.ng-invalid{
    border: 1px solid red;
}
div{text-align: center;
    margin-top: 12%;
    
}/*

input [type=text] {
  margin: 5px;
  text-align: left;
  display: inline-block;
}*/
label{
  width: 175px;
  display: inline-block;
  text-align: left;
}
input[type=password], select {
  width: 55%;
  padding: 12px 20px;
  margin: 8px 0;
  
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=text], select {
  width: 55%;
  padding: 12px 20px;
  margin: 8px 0;  
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}/*
#send{
  background-color: #18b654;
  border: none;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#admin-login{
  background-color: #18b654;
  border: none;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}*/
 #n1{
  border:2px solid black;
  width:30%;
  margin-left: 35%;
  margin-top: 10%;
  background-color: #f2f2f2;
  font-size: small;
}/*
#forgot-password{
  background-color: #657c11;
  border: none;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}*/ 
#login-head{
  font-size: x-large;
}
#login-size{
  font-size: medium;
}
#validation{
  margin-left: 5px;
}
#forgot{
  margin-left: 100px;
  
}
#send{
  margin-left: 150px;
}
#space{
  padding:0px;
}
table{
  border-collapse: collapse;
  width: 100%;
  margin-left: 65px;
}
td,th{
  border: 0px;
  text-align: left;
  padding: 2px;
  font-size: medium;
}
#admin-login{
  margin-left: 0.5%;
} 