<div class="container-fluid" id="forgot-pass" >
    <div class="row">
        <div class="col-sm-8">
            <form #f="ngForm" (ngSubmit)="forgotPassword(f)" id="forgot-elements">
            Enter UserName :<input type = "text" name="t1" [(ngModel)]=f.username required #t1="ngModel" id="username-inp" /> <br />
            <span *ngIf="t1.touched && !t1.valid">Please enter your username</span><br>
            <p id="forgot-info">Enter your username in the box above .We will send a recovery mail for resetting your password. </p>
            <br>
            <button type ="submit" id="send-mail" class="btn btn-success" [disabled]="!f.valid" >Send Email</button>
            <h3> {{ message }}</h3>

            </form>
        </div>
    </div>
</div>
