input.ng-touched.ng-invalid{
    border: 1px solid red;
}
#forgot-pass{
    border:2px solid black;
    width:30%;
    margin-left: 35%;
    margin-top: 10%;
    background-color: #f2f2f2;
    font-size: small;
}
input[type=text], select {
    width: 105%;
    margin-left: 150px;
    
}
#forgot-elements{
    margin-top: 15px;
}
#username-inp{
    margin-top: 0.5px;
}