<section class="hero-image">
  <div class="heading-container">
    <h1 class="animated zoomIn image-header" style="animation-delay: 0.5s">FINANCE</h1>
  </div> 
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <!-- <div class="image-1"> 
            <img src="" alt="">
          </div> -->
          <div id="media1"  class="media border p-3">
            <img  id="img1"  src="/assets/images/financing.png" alt="image-1" class="mr-3 align-self-center rounded-circle">
            <div class="media-body">
              <h4><i>GET ALL PRODUCTS AT 0 DOWNPAYMENT AND NO INTEREST EMI!!</i></h4>
            </div>
          </div>
          <div id="media2"  class="media border p-3">
            <img  id="img2"  src="/assets/images/Financelogo.png" alt="image-2" class="mr-3 align-self-center rounded-circle">
            <div class="media-body">
              <h4><i>REGISTER YOURSELF AND PUT A STEP FORWARD!!</i></h4>
            </div>
          </div>
        </div>
      </div>
    </div>    
</section>

